@charset "UTF-8";
* {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fff;
  color: #000;
  text-align: center;
}

section, header {
  border: 0px solid black;
}

h1 {
  font-size: 3.5rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  text-align: left;
}

a:link {
  text-decoration: none;
}

.sous-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.sous-menu > li {
  visibility: hidden;
  font-size: 1.2rem;
}

.sous-menu > li:nth-child(-n+1) {
  visibility: visible;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.sous-menu:hover > li {
  visibility: visible;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  z-index: 2;
  cursor: pointer;
}

#modal-header {
  padding-right: 182px;
}

#movie-title {
  margin-top: 0;
}

.modal-content {
  top: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  margin: auto;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: white;
  opacity: 0;
  transition: all 500ms;
  cursor: default;
}
.modal-content ul {
  padding: 0;
  padding-right: 182px;
  flex-direction: column;
}
.modal-content button {
  position: absolute;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 0;
  background-color: black;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
.modal-content img {
  position: absolute;
  right: 15px;
  top: 100px;
  filter: drop-shadow(0 0 1rem black);
}

.header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.header nav {
  margin-left: auto;
}
.header ul {
  padding: 0;
}
.header li {
  padding: 0 10px;
  text-align: center;
}

.previous, .next {
  position: absolute;
  align-items: center;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;
  top: 50%;
  margin: 0;
  z-index: 1;
}

.previous {
  display: none;
  left: 0px;
  transform: translate(50%, -50%);
}

.next {
  display: flex;
  right: 30px;
  transform: translate(50%, -50%);
}

#best-movie {
  min-width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20vw 40px 20vw;
  padding: 20px 10px;
  filter: drop-shadow(0 0 1rem black);
}

#best-movie > div {
  position: relative;
  box-sizing: border-box;
}

#best-movie > a p {
  position: relative;
  margin: auto;
}

#best-movie > a p:hover {
  cursor: pointer;
}

#best-movie > a p::before {
  content: "▶";
  position: absolute;
  padding-left: 0.5rem;
  color: white;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.75);
  border: 0.25rem solid white;
  border-radius: 50%;
  width: 4.5rem;
  height: 5rem;
  display: block;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#best-movie > p::before:hover {
  transform: scale(1, 2);
}

#best-movie > p > img {
  vertical-align: middle;
}

#best-movie h2 {
  width: 75%;
  margin: auto;
  padding-bottom: 1rem;
  text-align: center;
}

#best-movie button {
  background-color: red;
  color: #fff;
  font-size: 1rem;
  border: 0;
  border-radius: 10%;
  cursor: pointer;
}

.carousel {
  width: 744px;
  margin: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}
.carousel ul {
  transition: transform 1s;
  padding: 0;
  position: relative;
}
.carousel ul:hover {
  transform: translateX(-15px);
}
.carousel li {
  display: inline-block;
  padding: 2px;
  box-sizing: border-box;
  transform-origin: center left;
  transition: all 500ms;
}
.carousel li > img {
  object-fit: cover;
}
.carousel li:not(:hover) {
  opacity: 0.3;
}
.carousel li:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}
.carousel li:hover ~ li {
  transform: translateX(30px);
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 4rem;
  height: 4rem;
  background-color: #000;
  border-radius: 50%;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 1;
}

#backToTop svg {
  background-color: #000;
  width: 38px;
  height: 38px;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
