*
{
font-family: Arial, sans-serif;
background-color: $color-background;
color: #000;
text-align: center;
}

section, header {
border: 2px solid black;
}

ul {
list-style-type: none;
display: flex;
justify-content: space-between;
align-items: center;
}

.modal {
position: absolute;
width: 100%;
height: 100%;
visibility: hidden;
z-index: 1;
}

.modal-content {
display: flex;
// align-items: flex-start;
// flex-direction: row-reverse;
width: 50%;
height: 50%;
margin: auto;
padding: 15px 30px;
border-radius: 20px;
background-color: red;
opacity: 0;
transform: translateY(0px);
transition: all 500ms;
cursor: pointer;
    li {
    text-align: left;
    }
    button {
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    }
    img {
    float: right;
    }
}

.caroussel {
width: 80%;
margin: auto;
    ul:hover {
    opacity: 0.3;
    }
    li:hover {
    opacity: 1;
    }
}

.header {
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.5rem;
    nav {
    margin-left: auto;
    }
    li {
    padding: 0 10px;}
}
