*
{
font-family: 'Noto Sans JP', sans-serif;
background-color: #fff;
color: #000;
text-align: center;
}

section, header {
border: 0px solid black;
}

h1 {
font-size: 3.5rem;
}

ul {
list-style-type: none;
display: flex;
justify-content: space-between;
}

li {
text-align: left;
}

a:link {
text-decoration: none;
}

.main-menu-link {
position: relative;
display: block;
text-decoration: none;
transition: 0.5s;
}

.main-menu-link::after {
position: absolute;
content: "";
width: 100%;
height: 5px;
top: 100%;
left: 0;
background: #000;
transition: transform 0.5s;
transform: scaleX(0);
transform-origin: right;
}

.main-menu-link:hover::after {
transform: scaleX(1);
transform-origin: left;
}

.main-menu-link:hover {
transform: scaleY(30px);
}

.main-menu-link:hover + ul > li {
visibility: visible;
}

.sous-menu {
display: flex;
flex-direction: column;
padding: 0;
margin-top: 10px;
}

// .sous-menu ul {
// position: relative;
// }

.sous-menu li {
visibility: hidden;
text-align: center;
}

#modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
visibility: hidden;
z-index: 1;
cursor: pointer;
}

#modal-header {
padding-right: $image-width;
}

#movie-title {
margin-top: 0;
}

.modal-content {
margin-top: 50vh;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
width: 50%;
margin: auto;
padding: $modal-vertical-padding 30px;
border-radius: 20px;
background-color: rgba(255,255,255,1);
opacity: 0;
transform: translateY(40%);
transition: all 500ms;
cursor: default;
    & ul {
    padding: 0;
    padding-right: $image-width;
    flex-direction: column;
    }
    & button {
    position: absolute;
    right: $modal-vertical-padding;
    width: $closing-button-size;
    height: $closing-button-size;
    border-radius: 50%;
    border-width: 0;
    background-color: rgba(0,0,0,1);
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    }
    & img {
    position: absolute;
    right: $modal-vertical-padding;
    top: $closing-button-size*2;
    filter: drop-shadow(0 0 1rem black);
    }
}

.caroussel {
width: 80%;
margin: auto;
    & ul {
    transition: transform 1s;
    }
    & ul:hover {
    transform: translateX($moveLeft);
    }
    & li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transform-origin: center left;
    transition: all 500ms;
    }
    & li > img {
    object-fit: cover;
    }
    & li:not(:hover) {
    opacity: 0.3;
    }
    & li:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
    }
    & li:hover ~ li {
    transform: translateX($moveRight);
    }
}

.header {
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.5rem;
    & nav {
    margin-left: auto;
    }
    & li {
    padding: 0 10px;}
}

#best-movie > img:hover {
cursor: pointer;
}